@media (max-width: 768px) {
    .procurement {
        padding: 0 0 30px;
    }
    
    .procurementBox {
        border-radius: 16px;
    }
}

@media (max-width: 480px) {
    .procurement {
        padding: 0 0 30px;
    }
}