@media (max-width: 1000px) {
    .header__up {
        padding: 10px 0;
    
        &__left {
            width: 200px;

            .header__up__logo {
                width: 50px;
                height: 50px
            }
    
            .header__up__logoName1 {
                padding-top: 0;
                font-size: 20px;
            }
    
            .header__up__logoName2 {
                font-size: 10px;
            }
        }
    
        &__center {
            display: none;
        }

        &__right {
            display: flex;
        }
    
    }
}

@media (max-width: 600px) {
    .header__up {
        padding: 6px 0;
    
        &__left {
            width: 100px;

            .header__up__logoName {
                display: none;
            }
        }
    }
}