.lang {
    display: flex;
    align-items: center;
    gap: 8px;
}

.langItem {
    background: transparent;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: #1e3a5f;
    padding: 4px 10px;
    cursor: pointer;
}

.active {
    background-color: #facc15;
    border-radius: 6px;
    color: #1e3a5f;
}

.divider {
    width: 1px;
    height: 20px;
    background-color: #cbd5e1;
}


@media (max-width: 600px) {
    .lang {
        gap: 4px;
    }

    .langItem {
        font-size: 12px;
        font-weight: 600;
        padding: 4px 8px;
    }

    .active {
        border-radius: 4px;
    }

    .divider {
        height: 16px;
    }
}