.newsHomeUp {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .newsHomeUp__items {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .newsHomeUp__name {
            font-weight: 500;
            font-size: 30px;
            line-height: 131%;
            color: #1e3a5f;
        }

        .newsHomeUp__line {
            width: 96px;
            height: 4px;
            background: #22c55e;
        }
    }

}