@media (max-width: 1000px) {
    .newsHomeUp {
    
        .newsHomeUp__items {
    
            .newsHomeUp__name {
                font-size: 26px;
            }
        }
    }
}

@media (max-width: 600px) {
    .newsHomeUp {
    
        .newsHomeUp__items {
            gap: 14px;
    
            .newsHomeUp__name {
                font-size: 22px;
            }
        }

        .newsHomeUp__btn {
            width: 120px;
            height: 40px;
            border-radius: 20px;
            font-size: 14px;
        }
    }
}

@media (max-width: 380px) {
    .newsHomeUp {
    
        .newsHomeUp__items {
            gap: 12px;
    
            .newsHomeUp__name {
                font-size: 20px;
            }
    
            .newsHomeUp__line {
                width: 66px;
            }
        }

        .newsHomeUp__btn {
            width: 118px;
            height: 38px;
            border-radius: 19px;
            font-size: 12px;
        }
    }
}