@media (max-width: 1000px) {
    .newsHomeUp {
    
        .newsHomeUp__items {
    
            .newsHomeUp__name {
                font-size: 26px;
            }
        }
    }
}

@media (max-width: 600px) {
    .newsHomeUp {
    
        .newsHomeUp__items {
            gap: 8px;
    
            .newsHomeUp__name {
                font-size: 18px;
            }

            .newsHomeUp__line {
                width: 66px;
                height: 2px;
            }
        }

        .newsHomeUp__btn {
            width: 100px;
            height: 30px;
            border-radius: 15px;
            font-size: 12px;
        }
    }
}

@media (max-width: 380px) {
    .newsHomeUp {
    
        .newsHomeUp__items {
            gap: 6px;
    
            .newsHomeUp__name {
                font-size: 16px;
            }
    
            .newsHomeUp__line {
                width: 66px;
            }
        }
    }
}